body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #333;
  max-height: 100%;
}
header {
  width: 12%;
  height: 100vh;
  background-color: #9fff80;
}
header img {
width: 70px;
height: 70px;
border-radius: 50%;
display: block;
margin: auto;
border: 7px solid #333;
}
header h1 {
  text-align: center;
  font-size: 10.5vmin;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  background-color: #9fff80;
  margin: 0;
}
.b {
  padding-top: 10px;
}
